.logo {
    float: left;
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.logo a {
    width: 300px;
}

.logo p {
    margin-left: 20px;
}

.logo p span {
    margin-left: 0 !important;
    float: unset !important;
    display: block !important;
    line-height: unset !important;
}

.logo p span:first-child {
    font-size: 24px;
}

.logo p span:last-child {
    margin-top: 5px;
    color: #057dbe;
}

.logo img {
    max-width: 100%;
}

.head-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.container>.logo {
    display: none !important;
}

.head-top-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.head-top-right .search-pro {
    margin-right: 0;
}

.head-top-right p {
    float: right;
    font-size: 18px;
    color: #057dbe;
    margin-left: 20px;
}

.head-top p span {
    float: left;
    line-height: 40px;
    margin-left: 45px;
    font-weight: bold;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.search-pro {
    float: right;
    margin-right: 1%;
}

.search-pro input {
    float: left;
    border: 1px solid #057dbe;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    width: 200px;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
}

.search-pro button {
    float: left;
    background: #057dbe;
    border-radius: 0 50px 50px 0;
    border: 0;
    height: 36px;
    line-height: 36px;
    width: 50px;
}

.search-pro button i {
    color: #FFF;
    font-size: 22px;
}

/* 导航栏 */
#header .header-nav {
    height: 90px;
}

/* 导航栏 导航容器 */
#header .header-nav-fixed .header-nav-wrapper {
    line-height: 50px;
}

#header .header-nav .header-nav-wrapper {
    line-height: 90px;
    /* float: right; */
    margin: 0;
    margin-left: 15px;
    max-width: 800px;
}

/* 导航栏 每个导航 */
#header .header-nav .header-nav-wrapper>li {
    float: left;
    margin: 0 15px;
    position: relative;
}

/* 导航栏 每个导航下面的 a 链接 */
#header .header-nav .header-nav-wrapper>li>a {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0;
    position: relative;
}

/* 导航栏 每个导航下面的 a 链接的下划线 */
#header .header-nav .header-nav-wrapper>li>a>i {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    opacity: 0;
    transition: all 0.6s ease;
    background-color: #1e73be;
}

/* 导航栏 每个导航下面的 a 链接 鼠标滑上去下划线的样式 */
#header .header-nav .header-nav-wrapper>li>a:hover .underline {
    opacity: 1;
    width: 100%;
    left: 0;
}

/* 导航栏 每个导航下面的 a 链接 鼠标点击后的样式 */
#header .header-nav .header-nav-wrapper>li.active>a {
    color: #1e73be;
    text-decoration: none;
    border-bottom: 2px solid #1e73be;
}

/* 导航栏 每个导航下面的二级导航容器 */
#header .header-nav .header-nav-wrapper>li>dl {
    display: none;
    position: absolute;
    width: 168px;
    top: 80%;
    left: 0;
    z-index: 999999;
    box-shadow: 0 0 3px 1px #ccc;
    background: #fff;
}

/* 导航栏 每个导航下面的二级导航容器的每个导航 */
#header .header-nav .header-nav-wrapper>li>dl>dt {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* 导航栏 每个导航下面的二级导航容器的每个导航 当鼠标滑上时的样式*/
#header .header-nav .header-nav-wrapper>li>dl>dt>a:hover {
    text-decoration: none;
}

/* 导航栏 滑上一级导航显示二级导航 */
#header .header-nav .header-nav-wrapper>li:hover dl {
    display: block;
}

#header .header-nav .header-nav-wrapper>li>dl>dt:hover {
    cursor: pointer;
    background: #ccc;
}

@media screen and (max-width: 997px) {
    #header .header-nav-m {
        position: relative;
    }

    /* 导航栏logo容器 */
    #header .header-nav-m .header-nav-m-logo {
        height: 80px;
        position: relative;
    }

    /* 导航栏logo图片 */
    #header .header-nav-m .header-nav-m-logo img {
        width: 95px;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    /* 导航栏  菜单容器 */
    #header .header-nav-m .header-nav-m-menu {
        color: #fff;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
        background: #474747;
        position: relative;
    }

    /* 导航栏 菜单图标 */
    #header .header-nav-m .header-nav-m-menu-wrapper {
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -20px;
        width: 50px;
        height: 40px;
        color: #fff;
        z-index: 999999;
        font-size: 12px;
    }

    /* 导航栏 */
    #header .header-nav-m .header-nav-m-wrapper {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: #474747;
        z-index: 9999999;
    }

    /* 导航栏 每个导航 */
    #header .header-nav-m .header-nav-m-wrapper>li {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #ccc;
    }

    /* 导航栏 每个导航下面的 a 链接 */
    #header .header-nav-m .header-nav-m-wrapper>li>a {
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        padding: 15px 0;
        position: relative;
    }

    /* 导航栏 每个导航下面的 a 链接的右侧小三角 */
    #header .header-nav .header-nav-wrapper>li>a>span {
        font-size: 10px;
    }
}